<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-camera-permissions" version="1.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Jamie Hsu</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription, NSMicrophoneUsageDescription and NSPhotoLibraryUsageDescription in iOS 10 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription, nsmicrophoneusagedescription, nsphotolibraryusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
           <string>This app requires access to the camera.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
           <string>This app requires access to the microphone.</string>
      </config-file>
      <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
           <string>This app requires access to the photo library.</string>
      </config-file>
    </platform>
</plugin>
